Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG

Update .lintr
  .lintr
Owners: @Public-Health-Scotland/list-locality-profiles

Add missed comma
  .lintr
Owners: @Public-Health-Scotland/list-locality-profiles

Update .lintr (#190)
  .lintr
Owners: @Public-Health-Scotland/list-locality-profiles

Remove arrow explicit function calls (`arrow::fun()`)
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Remove package loads and explicit calls
  Master RMarkdown Document & Render Code/excel_output.r
Owners: @Public-Health-Scotland/list-locality-profiles

Remove janitor explicit function calls (`janitor::fun()`)
  Demographics/2. Demographics - SIMD.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @CliveWG

Use `{conflicted}` to ensure dplyr is used preferentially
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Remove dplyr explicit function calls (`dplyr::fun()`)
  Demographics/1. Demographics - Population.R
  Demographics/2. Demographics - SIMD.R
  Households/Households Code.R
Owners: @cfraser2020, @JosieSteele

Replace nested ifelse with casewhen
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Replace nested ifelse with casewhen
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Replace nested ifelse with casewhen
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Adjustments made to aggregate up to HSCP from locality level.
  General Health/3. General Health Outputs.R
Owners: @moohan

Style code
  Demographics/1. Demographics - Population.R
  Demographics/2. Demographics - SIMD.R
  Demographics/Demographics-Testing-Markdown.Rmd
  General Health/3. General Health Outputs.R
  Households/Households Code.R
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
  Services/2. Services data manipulation & table.R
  Unscheduled Care/1. Unscheduled Care data extraction.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @moohan, @JosieSteele, @Public-Health-Scotland/list-locality-profiles, @RyanDuffy01, @CliveWG

Remove package loads and explicit calls in the Excel Output script (#191)
  Master RMarkdown Document & Render Code/excel_output.r
Owners: @Public-Health-Scotland/list-locality-profiles

Remove janitor explicit function calls (`janitor::fun()`) (#193)
  Demographics/2. Demographics - SIMD.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @CliveWG

Remove arrow explicit function calls (`arrow::fun()`) (#194)
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Suppress the messages about `.groups` from `dplyr::summarise`
  .Rprofile
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unused objects at the end of the chapter scripts
  Demographics/1. Demographics - Population.R
  Demographics/2. Demographics - SIMD.R
  General Health/3. General Health Outputs.R
  Households/Households Code.R
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
  Services/2. Services data manipulation & table.R
  Services/3. Service HSCP map.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @moohan, @JosieSteele, @Public-Health-Scotland/list-locality-profiles, @RyanDuffy01, @CliveWG

usc - HSCP update
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Style code
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Demographics/1. Demographics - Population.R
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Update Demographics/2. Demographics - SIMD.R
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

Update Services/3. Service HSCP map.R
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Update Demographics/1. Demographics - Population.R
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Update Demographics/2. Demographics - SIMD.R
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

RMD - HSCP
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unused objects at the end of the chapter scripts (#197)
  Demographics/1. Demographics - Population.R
  Demographics/2. Demographics - SIMD.R
  General Health/3. General Health Outputs.R
  Households/Households Code.R
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
  Services/2. Services data manipulation & table.R
  Services/3. Service HSCP map.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @moohan, @JosieSteele, @Public-Health-Scotland/list-locality-profiles, @RyanDuffy01, @CliveWG

Style code
  General Health/3. General Health Outputs.R
Owners: @moohan

remove placeholder
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

add trend years
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles

Render Script HSCP
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Rmd HSCP update
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

summary table HSCP update
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Style code
  Demographics/2. Demographics - SIMD.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @cfraser2020, @Public-Health-Scotland/list-locality-profiles

update issue
  General Health/3. General Health Outputs.R
Owners: @moohan

issue update
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles

issue update
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

issue update
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Style code
  General Health/3. General Health Outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @moohan, @CliveWG
