Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

Update Master RMarkdown Document & Render Code/make_sdc_output.R
  Master RMarkdown Document & Render Code/make_sdc_output.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update Unscheduled Care/2. Unscheduled Care outputs.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Improve comments
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Clear the warning message when reading the household_estimates spreadsheet
  Households/Households Code.R
Owners: @JosieSteele

Remove dplyr explicit function calls (`dplyr::fun()`)
  Demographics/1. Demographics - Population.R
  Demographics/2. Demographics - SIMD.R
  Households/Households Code.R
Owners: @cfraser2020, @JosieSteele

Use `{conflicted}` to ensure dplyr is used preferentially
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Fix another deprecation warning
  General Health/3. General Health Outputs.R
Owners: @moohan

Use phsstyles instead of hardcoding the colours
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Load `{phsstyles}` in the Global script
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Load `{phsstyles}` in the Global script
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Correct HB emergency admission text
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

changed HB rate to use correct variable in testing markdown
  Unscheduled Care/Unscheduled-Care-Testing-Markdown.Rmd
Owners: @CliveWG

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG
