Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG

update consistent variable names from 2. Unscheduled Care outputs.R
  Unscheduled Care/Unscheduled-Care-Testing-Markdown.Rmd
Owners: @CliveWG

Use phsstyles instead of hardcoding the colours
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Remove the double assignment of `lp_path`
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Make axis text slant so that it doesn't overlap
  General Health/3. General Health Outputs.R
Owners: @moohan

footnote change
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Removed the `str_wrap` as it would never do anything
  General Health/3. General Health Outputs.R
Owners: @moohan

HSCP ltc % text and summary table
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Locality Profiles Word Macro.vbp
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

update hscp ltc % method to true %
  General Health/3. General Health Outputs.R
Owners: @moohan

Simpler calculation using existing values
  General Health/3. General Health Outputs.R
Owners: @moohan

Style code
  General Health/3. General Health Outputs.R
Owners: @moohan

Format VBA
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Update the year (and month) for the latest update
  final_copying/Copy SDC to final folder.R
  final_copying/Copy excel output to final folder.R
  final_copying/Copy profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update the year (and month) for the latest update
  final_copying/Copy HSCP profiles to final folder.R
  final_copying/Copy SDC to final folder.R
  final_copying/Copy excel output to final folder.R
  final_copying/Copy profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Restore deleted code
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Style
  General Health/3. General Health Outputs.R
Owners: @moohan

Fix SDC loop
  Master RMarkdown Document & Render Code/make_sdc_output.R
Owners: @Public-Health-Scotland/list-locality-profiles

Rename the changed subroutines
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Fix HSCP SDC code
  General Health/3. General Health Outputs.R
  Master RMarkdown Document & Render Code/make_sdc_output.R
Owners: @moohan, @Public-Health-Scotland/list-locality-profiles

Update SDC copy code for HSCP
  final_copying/Copy SDC to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update Locality Profiles Word Macro.vbp
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Update to use `hscp_list` for checking
  final_copying/Copy SDC to final folder.R
  final_copying/Copy excel output to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Shrink the lookup to only the bits that are needed.
  final_copying/Copy profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Fix typo
  final_copying/Copy excel output to final folder.R
  final_copying/Copy profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Improve the names and comments in the macro
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Remove subroutine that wasn't used
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Update README.md
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Update Locality_Profiles_Master_Markdown.Rmd
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Changes mirroring https://github.com/Public-Health-Scotland/list-hscp-profiles/pull/7
  General Health/3. General Health Outputs.R
Owners: @moohan

Fix code so it still works with no data
  General Health/3. General Health Outputs.R
Owners: @moohan

Revert "Use phsstyles instead of hardcoding the colours"
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Fix typos
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Changing template- doesn't work
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Update the LTC related text in the main markdown doc
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Update 3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Summary-Table-Markdown.Rmd
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Update Locality_Profiles_Master_Markdown.Rmd
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Update the testing RMarkdown docs (#8)
  Demographics/Demographics-Testing-Markdown.Rmd
  General Health/General-Health-Testing-Markdown.Rmd
  Households/Housing-Markdown.Rmd
  Lifestyle & Risk Factors/Lifestyle-Risk-Factors-Testing-Markdown.Rmd
  Services/Services-Testing-Markdown.Rmd
  Unscheduled Care/Unscheduled-Care-Testing-Markdown.Rmd
Owners: @cfraser2020, @moohan, @JosieSteele, @Public-Health-Scotland/list-locality-profiles, @RyanDuffy01, @CliveWG

Fix the life expectancy code for HSCP (#7)
  General Health/3. General Health Outputs.R
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @moohan, @Public-Health-Scotland/list-locality-profiles
