Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

update placeholder
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles

Style code
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles

Make the HSCP name bold (as well as red) in the bar chart
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

update
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

rmd update
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

update
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Style code
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles, @CliveWG

chart
  General Health/3. General Health Outputs.R
Owners: @moohan

Style code
  General Health/3. General Health Outputs.R
Owners: @moohan

patchy patch
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Style code
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

space
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Create Copy HSCP profiles to final folder
  final_copying/Copy HSCP profiles to final folder
Owners: @Public-Health-Scotland/list-locality-profiles

Services - make the join_by explicit
  Services/2. Services data manipulation & table.R
Owners: @RyanDuffy01

Update README.md
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

fix HSCP text year
  General Health/3. General Health Outputs.R
Owners: @moohan

SDC Attempt 1
  Master RMarkdown Document & Render Code/make_sdc_output.R
Owners: @Public-Health-Scotland/list-locality-profiles

file organisation magic
  final_copying/copy HSCP profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Style code
  General Health/3. General Health Outputs.R
  final_copying/copy HSCP profiles to final folder.R
Owners: @moohan, @Public-Health-Scotland/list-locality-profiles

mistake fix
  General Health/3. General Health Outputs.R
Owners: @moohan

mistake fix
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Services - make the join_by explicit (#204)
  Services/2. Services data manipulation & table.R
Owners: @RyanDuffy01

Suppress the messages about `.groups` from `dplyr::summarise` (#196)
  .Rprofile
Owners: @Public-Health-Scotland/list-locality-profiles

Apply suggeDelete commented lines
  Demographics/1. Demographics - Population.R
  Lifestyle & Risk Factors/2. Lifestyle & Risk Factors Outputs.R
  Services/2. Services data manipulation & table.R
  Summary Table/Summary-Table-Markdown.Rmd
  Unscheduled Care/1. Unscheduled Care data extraction.R
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @cfraser2020, @Public-Health-Scotland/list-locality-profiles, @RyanDuffy01, @CliveWG

Update Demographics/2. Demographics - SIMD.R
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

Update Households/Households Code.R
  Households/Households Code.R
Owners: @JosieSteele

Style code
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Households/Households Code.R
  Households/Households Code.R
Owners: @JosieSteele

Update Unscheduled Care/1. Unscheduled Care data extraction.R
  Unscheduled Care/1. Unscheduled Care data extraction.R
Owners: @CliveWG

Update Demographics/1. Demographics - Population.R
  Demographics/1. Demographics - Population.R
Owners: @cfraser2020

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update General Health/3. General Health Outputs.R
  General Health/3. General Health Outputs.R
Owners: @moohan

Update Master RMarkdown Document & Render Code/make_sdc_output.R
  Master RMarkdown Document & Render Code/make_sdc_output.R
Owners: @Public-Health-Scotland/list-locality-profiles

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG
