Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

Fix footnote 2 so that it dynamically references the HSCP
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Use stringr as it's already loaded
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

Replace package loads by sourcing Global
  Lifestyle & Risk Factors/1. Convert LRF ScotPHO data to RDS.R
Owners: @Public-Health-Scotland/list-locality-profiles

Replace package loads by sourcing Global
  Services/1. Convert services data to RDS.R
Owners: @RyanDuffy01

Remove unneeded package loads
  Services/2. Services data manipulation & table.R
Owners: @RyanDuffy01

Remove unneeded package loads
  Unscheduled Care/1. Unscheduled Care data extraction.R
Owners: @CliveWG

Don't remove `hb_emergency_adm1` as it is now used in the text
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Remove unneeded package loads
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unneeded package loads
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Remove the geospatial packages workaround code
  .Rprofile
Owners: @Public-Health-Scotland/list-locality-profiles

Fix the path to the docx template
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Rewrite the LTC top 5 table using flextable
  General Health/3. General Health Outputs.R
Owners: @moohan

Fix deprecated usage of the `size` aesthetic
  General Health/3. General Health Outputs.R
Owners: @moohan

Add phsstyles to the global script
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Fix another deprecation warning
  General Health/3. General Health Outputs.R
Owners: @moohan

Use phsstyles instead of hardcoding the colours
  Services/3. Service HSCP map.R
Owners: @RyanDuffy01

Load `{phsstyles}` in the Global script
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unneeded package loads
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unneeded package loads
  Services/2. Services data manipulation & table.R
Owners: @RyanDuffy01

Replace package loads by sourcing Global
  Lifestyle & Risk Factors/1. Convert LRF ScotPHO data to RDS.R
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unneeded package loads
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Remove unneeded package loads
  Unscheduled Care/1. Unscheduled Care data extraction.R
Owners: @CliveWG

Replace package loads by sourcing Global
  Services/1. Convert services data to RDS.R
Owners: @RyanDuffy01

Use stringr as it's already loaded
  Demographics/2. Demographics - SIMD.R
Owners: @cfraser2020

Resolve the duplicated copy script
  final_copying/Copy HSCP profiles to final folder.R
  final_copying/copy HSCP profiles to final folder.R
Owners: @Public-Health-Scotland/list-locality-profiles

Change references to variables for a consistent approach.
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

tweak variables for consistency in summary table and main report text
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
  Summary Table/Summary-Table-Markdown.Rmd
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles, @CliveWG

remove variables not used in markdown scripts
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

update consistent variable names from 2. Unscheduled Care outputs.R
  Unscheduled Care/Unscheduled-Care-Testing-Markdown.Rmd
Owners: @CliveWG

Make GH markdown match main
  General Health/General-Health-Testing-Markdown.Rmd
Owners: @moohan

Use a consistent value for Scotland LTC percentage
  General Health/3. General Health Outputs.R
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @moohan, @Public-Health-Scotland/list-locality-profiles

Remove duplicated code
  General Health/3. General Health Outputs.R
Owners: @moohan

First draft using bookdown
  Build Profiles.R
  Master RMarkdown Document & Render Code/Global Script.R
  lp_bookdown/Demographics.Rmd
  lp_bookdown/General-Health.Rmd
  lp_bookdown/Housing.Rmd
  lp_bookdown/Lifestyle-Risk-Factors.Rmd
  lp_bookdown/Services.Rmd
  lp_bookdown/Summary-Table.Rmd
  lp_bookdown/Unscheduled-Care.Rmd
  lp_bookdown/_bookdown.yaml
  lp_bookdown/_output.yaml
  lp_bookdown/index.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

Fix the RMarkdown template for the new Workbench
  Services/Services-Testing-Markdown.Rmd
Owners: @RyanDuffy01

tweak variables for consistency in summary table and main report text
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
  Summary Table/Summary-Table-Markdown.Rmd
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @Public-Health-Scotland/list-locality-profiles, @CliveWG

Re-comment code
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Add phsstyles to Global
  Master RMarkdown Document & Render Code/Global Script.R
Owners: @Public-Health-Scotland/list-locality-profiles

Change references to variables for a consistent approach.
  Summary Table/Summary-Table-Markdown.Rmd
Owners: @Public-Health-Scotland/list-locality-profiles

remove variables not used in markdown scripts
  Unscheduled Care/2. Unscheduled Care outputs.R
Owners: @CliveWG

Add quotes to template spec in YAML
  Unscheduled Care/Unscheduled-Care-Testing-Markdown.Rmd
Owners: @CliveWG

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG
