Repository Public-Health-Scotland/list-localities-profiles, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Public-Health-Scotland/list-locality-profiles, @cfraser2020, @JosieSteele, @moohan, @RyanDuffy01, @CliveWG

Improve the names and comments in the macro
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Remove subroutine that wasn't used
  Locality Profiles Word Macro.vbp
Owners: @Public-Health-Scotland/list-locality-profiles

Update README.md
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Style code
  General Health/3. General Health Outputs.R
Owners: @moohan

Update style-modified-files.yaml
  .github/workflows/style-modified-files.yaml
Owners: @Public-Health-Scotland/list-locality-profiles

Update style-modified-files.yaml
  .github/workflows/style-modified-files.yaml
Owners: @Public-Health-Scotland/list-locality-profiles

Rename excel_output.r to excel_output.R
  Master RMarkdown Document & Render Code/excel_output.R
Owners: @Public-Health-Scotland/list-locality-profiles

Update README.md
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Add a list of the key files with short descriptions
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Update README.md
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Add notes on directories used and code locations
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Update .all-contributorsrc
  .all-contributorsrc
Owners: @Public-Health-Scotland/list-locality-profiles

Improve README (#226)
  .all-contributorsrc
  README.md
Owners: @Public-Health-Scotland/list-locality-profiles

Update .all-contributorsrc
  .all-contributorsrc
Owners: @Public-Health-Scotland/list-locality-profiles

Update .all-contributorsrc
  .all-contributorsrc
Owners: @Public-Health-Scotland/list-locality-profiles

Update with changes from `bespoke/ayrshire_and_arran`
  Custom Boundary SOP.md
  Master RMarkdown Document & Render Code/excel_output.r
  Master RMarkdown Document & Render Code/overwrite_with_custom_functions.R
  Unscheduled Care/MSG IZ-level/1a - Emergency Admissions LIST.R
  Unscheduled Care/MSG IZ-level/2a - Acute unplanned beddays LIST.R
  Unscheduled Care/MSG IZ-level/2b - GLS beddays LIST.R
  Unscheduled Care/MSG IZ-level/2c - MH beddays LIST.R
Owners: @Public-Health-Scotland/list-locality-profiles, @CliveWG

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
*  @Public-Health-Scotland/list-locality-profiles

# Demographics
/Demographics/ @cfraser2020

# Housing
/Households/ @JosieSteele

# General Health
/General\ Health/ @moohan

# Lifestyle & Risk Factors
/Lifestyle\ \&\ Risk\ Factors @JosieSteele

# Services
/Services/ @RyanDuffy01

# Hospital & Community Care
/Unscheduled\ Care/ @CliveWG
