Repository Public-Health-Scotland/list-localities-profiles, pull requests merged in 2024-12, with the labels that each got.

#134 Housing update 2024
  Households/Households Code.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
Labels: Housing

#136 Services changes
  Services/1. Convert services data to RDS.R
  Services/3. Service HSCP map.R
  Services/Services-Testing-Markdown.Rmd
  Services/Test Markdown.R
Labels: Services

#130 Dec 24 release - General Health code review
  .Rprofile
  General Health/1. Convert GH ScotPHO data to RDS.R
  General Health/1. Save GH ScotPHO data as parquet.R
  General Health/2. General Health SLF Data.R
  General Health/3. General Health Outputs.R
  General Health/General-Health-Testing-Markdown.Rmd
  Master RMarkdown Document & Render Code/Global Script.R
  Master RMarkdown Document & Render Code/Locality Profiles Render Code.R
  Master RMarkdown Document & Render Code/Locality_Profiles_Master_Markdown.Rmd
Labels: General Health
